<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Виртуальный гид</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
</head>
<body>
    <div class="wrapper">
        <h1>Добро пожаловать</h1>
        <form id="myForm" method="post" action="/answer" onsubmit="showLoading()">
            <div class="form-group">
                <label for="start">Укажите пожалуйста начальную точку</label>
                <div id="start-map" class="map"></div>
                <input type="hidden" id="start" name="start">
            </div>

            <div class="form-group">
                <label for="end">Укажите завершающую точку</label>
                <div id="end-map" class="map"></div>
                <input type="hidden" id="end" name="end">
            </div>

            <div class="form-group">
                <label for="time">Укажите примерное время прогулки</label>
                <input type="text" name="time" placeholder="Введите в формате 02:47" required>
            </div>

            <button type="submit" value="submit">Завершить создание</button>
        </form>
    </div>

    <div id="loading" class="loading">
        <div class="spinner"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script src="/static/js/map.js"></script>
    <script>
        const messages = [
    'Это может занять еще немного времени',
    'Подождите еще чуть-чуть',
    'Вот-вот и мы загрузим ваш маршрут',
    'Осталось капельку подождать',
    'Терпение и труд все перетрут'
];

function showLoading() {
    const loadingDiv = document.getElementById('loading');
    const messageDiv = loadingDiv.querySelector('.message');
    const randomMessage = messages[Math.floor(Math.random() * messages.length)];

    messageDiv.textContent = randomMessage;
    loadingDiv.style.display = 'flex';

    let counter = 0;
    const intervalId = setInterval(() => {
        counter++;
        if (counter >= 5) {
            clearInterval(intervalId);
            loadingDiv.style.display = 'none';
        } else {
            const randomMessage = messages[Math.floor(Math.random() * messages.length)];
            messageDiv.textContent = randomMessage;
        }
    }, 1000);
}

    </script>
</body>
</html>